/*nav bar style*/
/*-------------------------------------------------*/
#nav ul {
  list-style-type: none;
  /* adjust margin of the nav against edges*/
  /*margin-top: 100px;*/
  /*margin-right: 200px;*/
  /*margin-left: 200px;*/
  /*margin-bottom: 100px;*/
  margin-left: 430px;
  margin-top: -60px;
  margin-right: 150px;
  padding: 0;
  overflow: hidden;
  background-color: aqua;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 80px;
  text-decoration: none;
}

#nav li a:hover:not(.active) {
  background-color: orange;
}


#nav a {
  display:block;
  text-align:center;
  width: 200px; /* fixed width */
  text-decoration:none;
}
/**/
/*-------------------------------------------------*/
.logo img{
  postotion: absolute;
  margin-top: 100px;
  margin-left: 200px;
}
/*dropdown hover*/
/*-------------------------------------------------*/
#nav dropdown {
  position: relative;
  display: inline-block;
}

#nav dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

#nav dropdown:hover #nav dropdown-content {
  display: block;
}



/*body*/
/*-------------------------------------------------*/
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 35%;
  min-width: 35%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  padding: 10px;
  background-color: white;
  text-align: center;
}

.centerLeft {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 35%;
  min-width: 35%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  padding: 10px;
  background-color: white;
  text-align: left;
}

body {
  background-image: url("background.png");
}
/*You can add your css code down below */
/*-------------------------------------------------*/

.search-sec{
  padding: 2rem;
}
.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}




/*You can add your css code above do not add your code after this line*/
/*-------------------------------------------------*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color:;*/
  color: white;
  text-align: center;
}