
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"
    href="{% static "accounts/style.css" %}" >
  </head>
  <body>

    <div class="center">
        {% block content %}
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Login</button>
            </form>
        {% endblock %}
    </div>

  </body>
</html>