<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JCU Career Link</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'accounts/style.css' %}">
</head>
<body>

<!--  /*nav bar*/-->

<nav id='nav'>
    <div class='logo'><a href="https://www.jcu.edu.au/">
        <img src="{% static 'images/jcu logo.png' %}" height="90" width="200"/>
    </a>
    </div>
    <ul>
        <li><a>Home</a></li>
        <li><a>Search</a></li>
        <li><a>Profile</a></li>
        <!--            <li><a></a></li>-->
    </ul>
</nav>

<!--  /* main content: please write your content here*/-->

<div class="center">

    {% block content %}


    <h1>Welcome</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'dashboard_url' %}">Dashboard</a>
    <a href="{% url 'logout_url' %}">Logout</a>

    {% else %}
    <a href="{% url 'login_url' %}">Login</a>
    <a href="{% url 'register_url' %}">Register</a>
    {% endif %}
    {% endblock %}
</div>


<!--  /*footer part: do not write your code after this line*/-->
<footer class="footer">
    <p>Posted by: Jarod, Sid, Gerrard, Cheng Peng</p>
    <p>Contact information: <a href="https://www.jcu.edu.au/">student.example.name@my.jcu.edu.au</a>.</p>
</footer>

</body>


</html>
