{% extends "base.html" %}
{% block content %}
  <body>
      <div class="alert alert-success" role="alert" style="margin-top: 10%;margin-left: 20%;margin-right: 15%">
          <h4 class="alert-heading">Welcome, {{user.first_name}}</h4>
          <p>Aww yeah, you successfully read this registration successful message</p>
          <hr>
          <div class="container" style="margin-left: 30%">
              <div class="pik-body">
                  <img class="shock-left" src="http://www.megghy.com/gif_animate/natura/tuoni/3.gif">
                  <img class="shock-right" src="http://www.megghy.com/gif_animate/natura/tuoni/3.gif">

              </div>
          </div>
          <hr>
          <button class="btn btn-primary" style="width: 120px;margin-top:0%;margin-left:40%" href="{% url 'logout_url' %}">Logout</button>
      </div>
  </body>
{% endblock %}

